[submodule "ArduinoCore-API"]
	path = ArduinoCore-API
	url = https://github.com/earlephilhower/ArduinoCore-API.git
[submodule "pico-sdk"]
	path = pico-sdk
	url = https://github.com/rabbitholecomputing/pico-sdk.git
[submodule "libraries/Adafruit_TinyUSB_Arduino"]
	path = libraries/Adafruit_TinyUSB_Arduino
	url = https://github.com/adafruit/Adafruit_TinyUSB_Arduino.git
